/.quarto/

_large_files/*
!_large_files/download-large-files.py

v832-whats-new/.quarto/
v832-whats-new/._book/
v9-whats-new/.quarto/
copy-to-filezilla-test.ipynb

v9x/v900/whats-new/data/intermediate/MasterNet - 2022-07-29_Link.dbf

v9x/v900/validation/data/1-hhdisag-autoown/2012_HHSurvey-TripData_2021-07-13.csv
v9x/v900/validation/data/1-hhdisag-autoown/2012_HHSurvey-TripData_2022-11-21.csv
v9x/v900/validation/data/2012_HHSurvey-TripData_2022-11-21.csv
v9x/v900/validation/data/1-hhdisag-autoown/2012_HHSurvey-HHData_2022-09-29.csv
v9x/v900/validation/data/2012_HHSurvey-TripData_2021-07-13.csv
v9x/v900/validation/data/2012_HHSurvey-TripData_2021-11-21.csv

v9x/v900/model-process/data/1-hhdisag-autoown/2012_HHSurvey-TripData_2021-07-13.csv
v9x/v900/model-process/data/1-hhdisag-autoown/2012_HHSurvey-TripData_2022-11-21.csv
v9x/v900/model-process/data/2012_HHSurvey-TripData_2022-11-21.csv
v9x/v900/model-process/data/1-hhdisag-autoown/2012_HHSurvey-HHData_2022-09-29.csv
v9x/v900/model-process/data/2012_HHSurvey-TripData_2021-07-13.csv
v9x/v900/model-process/data/2012_HHSurvey-TripData_2021-11-21.csv

v9x/v901/validation/data/1-hhdisag-autoown/2012_HHSurvey-TripData_2022-11-21.csv
v9x/v901/validation/data/1-hhdisag-autoown/2012_HHSurvey-HHData_2022-09-29.csv
v9x/v901/validation\data/4-modechoice/2019 Final Weighted UTA OD Data - 2022-07-07.csv
v9x/v901/validation\data/4-modechoice/TripData_June19_2013.csv

/.luarc.json

/env/

/_*.local
